@import 'https://fonts.googleapis.com/css?family=Open+Sans|Oswald';

body {
    background-color: #d7e6ff;
    background-image: url('../images/WinterMarketLogo.png');
    background-repeat: no-repeat;
    background-position: -50 -50;
    font-family: 'Oswald', sans-serif;
}

div#wrapper {
    background-color: transparent;
}

div#pageheader {
    background-color: #617697;
    border-color: #617697;
    color: #d7e6ff;
}

div#navBar {
    background-color: #a9c0e4;
    border-color: #617697;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

ul.navCircle li a {
    font-family: 'Open Sans', sans-serif;
}
